// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #ffc802;
$light-orange: #ffe2c1;
$orange: #ff9823;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f4f4f4;
$white: #ffffff;
