// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Konnect", "Helvetica", "sans-serif";
$headers-font: "Neulis Alt", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Neulis Alt';
  src:  font-url('NeulisAlt-Bold/NeulisAlt-Bold.woff2') format('woff2'),
        font-url('NeulisAlt-Bold/NeulisAlt-Bold.woff') format('woff'),
        font-url('NeulisAlt-Bold/NeulisAlt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Konnect';
  src:  font-url('Konnect-Light.woff2') format('woff2'),
        font-url('Konnect-Light.woff') format('woff'),
        font-url('Konnect-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
