<div class="container">
  <h2>Unscheduled Interviews:</h2>
  <div class="row">
    <% @interviews.each do |interview| %>
      <% if interview.date.nil? %>
        <%= render 'interviews/cards-unscheduled', interview:interview %>
      <% end %>
    <% end %>
  </div>
  <h2>Scheduled Interviews:</h2>
  <div class="row">
    <% @interviews.each do |interview| %>
      <% if interview.date.present? %>
        <%= render 'interviews/cards', interview:interview %>
      <% end %>
    <% end %>
  </div>
</div>
