<div class="bg-white" id="content-container">
  <div class="d-flex flex-row-reverse align-items-center justify-content-center" style="height: 100vh;">
    <div class="image"  style="
      background-image: url('https://teamsinta.com/Website/sinta/images/headre.svg');
      height: 400px;
      width: 50%;
      background-size: cover;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3">
      <div class="text-green">
        <h1>Welcome back, <%= current_user.first_name%> 👋</h1>
        <p>You've successfully completed nothing today 😊</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%=  link_to 'Check pending interviews', interviews_path, class: "btn btn-orange" %>
          <%=  link_to 'Create Role', new_role_path, class: "btn btn-orange" %>
        </div>
      </div>
    </div>
  </div>
</div>
