<div class="dashboard-container">
  <div class="dash-header">
    <h1>Dashboard</h1>
    <h4>welcome to your dashboard you have to write something more meaningful here!</h4>
  </div>
  <div class="dash-body">
    <div class="dash-summary">
    </div>
    <div class="dash-action">
      <div class="dash-buttons">
        <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
      </div>
    </div>
    <%# <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
    <%# <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
  </div>
</div>
