<div class="container mt-5 ms-4">
  <h1>Dashboard</h1>
  <h4>welcome to your dashboard you have to write something more meaningful here!</h4>
  <div class="d-flex m-3 justify-content-evenly ">
    <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
    <%# <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
    <%# <%= link_to "Create a Role", new_role_path, class: "btn btn-primary rounded-5 btn-lg px-5" %>
  </div>
</div>
