<div class="container m-4 w-100">
  <div class="d-flex justify-content-between">
    <h1>Candidates</h1>
    <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#candidates">
      Add a Candidate
    </button>
  </div>
  <% @role.stages.each do |stage| %>
    <h3 class="pt-2"><%= stage.name %></h3>
    <div class="d-flex gap-3 pb-2">
      <% stage.candidates.each do |candidate| %>
        <%# if candidate.status == "accepted" %>
        <%# else %>
        <div class="card" style="width: 18rem;">
          <div class="card-body pb-0">
            <h5 class="card-title"> <strong><%= "#{candidate.first_name} #{candidate.last_name}" %></strong></h5>
            <div class="card-bottom">
              <p><%#= candidate.status  %></p>
            </div>
          </div>
        </div>
        <%# end %>
      <% end %>
    </div>
  <% end %>
</div>
<%# modal here  %>
<div class="modal fade" id="candidates" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Candidates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'candidates/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
