<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Candidates
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body d-flex p-0 justify-content-center">
        <% stage.candidates.each do |candidate| %>
          <div id="candidate" class="category-card">
            <div class="avatar-candidate">
              TC
            </div>
            <p><%= candidate.full_name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
