<div class="accordion" id="accordionExample">
  <% stage.questions.each do |question| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= question.id%>" aria-expanded="false" aria-controls="collapseOne">
          <p>Questions</p>
        </button>
      </h2>
      <div id="collapseOne<%= question.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= question.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
