<div class="stage-container">
  <div class="stage-card-list">
    <% @role.stages.each do |stage| %>
      <div class="stage-cards">
        <p><%= stage.name %></p>
      </div>
    <% end %>
  </div>
  <div class="stage-add-card" data-controller="hide-div-stage">
    <div class="btn btn-primary">
      <button type="button" data-action="click->hide-div-stage#hide" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div data-hide-div-stage-target="div" style="display: none;">
    <%= simple_form_for [@role, @stage] do |f| %>
      <%= f.input :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
