<div class="stage-container" data-controller="hide-div-stage">
  <div class="stage-card-list">
    <% @role.stages.each do |stage| %>
      <div class="stage-cards">
        <p><%= stage.name %></p>
      </div>
    <% end %>
  </div>
  <div class="stage-add-card">
    <div class="btn btn-primary my-3">
      <button type="button" data-action="click->hide-div-stage#hide" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="stage-card-form" data-hide-div-stage-target="div" style="display: none;">
    <%= simple_form_for [@role, @stage] do |f| %>
      <%= f.input :name %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
