<h5>Candidates</h5>
<div class="card-container flex-wrap w-100">
  <% stage.candidates.each do |candidate| %>
    <div id="candidate" class="category-card d-flex pr-3">
      <div>
        <%= user_avatar(candidate.full_name) %>
      </div>
      <p class="candidate-name-link mb-0">
        <%= link_to candidate_path(candidate) do %>
          <%= candidate.full_name %>
        <% end %>
      </p>
      <a href="https://www.linkedin.com/">
        <i class="fa-brands fa-linkedin" style="--fa-primary-color: $green;"></i>
      </a>
    </div>
  <% end %>
</div>
