<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teammembers">Schedule the Interview!</button>
<% @role.stages.each do |stage| %>
  <% stage.interviews.each do |interview| %>
    <%= render 'interviews/cards', interview:interview %>
  <% end %>
<% end %>
<%# modal %>
<div class="modal fade" id="teammembers" tabindex="-1" aria-labelledby="teammembers<" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="teammembers">Schedule an Interview!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @role.stages.each do |stage| %>
          test
          <% stage.interviews do |interview| %>
            <% if interview.date.present? %>
              either gbyyy
            <% else %>
              <%= interview.candidate_id%>
              <%= render 'interviews/schedule', interview:stage.interviews%>
            <% end %>
          <% end %>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%# modal end %>
