<div class="container mt-3">
  <div class = "d-flex gap-3 ms-4"">
    <% @role.stages.each do |stage| %>
      <div class="d-flex gap-3 ms-4">
        <div class= "card">
          <span class="badge bg-dark">
            <%= stage.name.capitalize %></span>
          <%= link_to "Add new Team Member",  new_stage_stage_interviewer_path(stage), class: 'btn btn-primary' %>
          <div class = "container">
            <% stage.users.each do |user| %>
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px; padding-top:10px"alt="Avatar" />
              <h5 class="mb-2"><strong><%=user.first_name.capitalize %></strong></h5>
              <p class="text-muted"><%= user.position.capitalize %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
