<div id="content-container">
  <div class="mx-3">
    <div class="candidates-list-card mt-3">
      <div class="pagetitle">
        <h1>Available Roles</h1>
      </div>
      <div class="row row-cols-3 g-3">
        <% @roles.each do |role| %>
          <div class="col">
            <div class="candidates-list p-4 h-100 d-flex flex-column justify-content-between" style="min-height:240px;">
              <div>
                <h5 class="role-card-head"> <strong><%= role.title %></strong></h5>
                <p class="role-card-detail"><%= role.description %></p>
              </div>
              <div class="role-card-option">
                <%= link_to "More details", role_path(role), class: 'btn btn-orange' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
