<div id="content-container">
  <div class="mx-3">
    <div class="candidates-list-card mt-3">
      <div class="pagetitle mb-4">
        <h1>Available Roles</h1>
      </div>
      <div class="row row-cols-3 g-3">
        <% @roles.each do |role| %>
          <div class="col">
            <div class="candidates-list p-4 h-100 d-flex flex-column justify-content-between position-relative" style="min-height:240px;">
              <div>
                <h5 class="role-card-head"> <strong><%= role.title %></strong></h5>
                <p class="role-card-detail"><%= role.description %></p>
              </div>
              <div class="role-card-option d-flex justify-content-between ">
                <%= link_to "More details", role_path(role), class: 'btn btn-orange' %>
                <% sum = 0 %>
                <% role.interviews.each do |interview| %>
                  <% sum += 1 if interview.feedback %>
                <% end %>
                <% if sum > 0 %>
                  <p style="color: red; top: 11px; left: 385px;" class="p-2 px-3 position-absolute translate-middle"> <i class="fa-solid fa-circle-exclamation fs-2"></i> </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
