<div ui-view="main" class="content-container"></div>
<script type="text/ng-template" id="menu.html">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <span class="navbar-brand">Our Menu</span>
          </div>
      </div>
  </nav>
</script>
<script type="text/ng-template" id="state1.html">
  <div class="container">
      <div class="wizard small row ng-cloak" ng-cloak>
          <a ng-repeat="state in vm.states" ng-click="vm.setCurrent(state)" ng-class="{ 'current': state.isCurrent }" ng-href="{{state.href}}" ng-if="state.isVisible">
              <div class="badge" style="display:none;">
                  @*<div class="border"></div>
                      <div class="number">{{$index + 1}}</div>*@
              </div>
              {{ state.name }}
          </a>
      </div>

      <div class="wizard row ng-cloak" ng-cloak>
          <a ng-repeat="state in vm.states" ng-click="vm.setCurrent(state)" ng-class="{ 'current': state.isCurrent }" ng-href="{{state.href}}" ng-if="state.isVisible">
              <div class="badge">
                  <div class="border"></div>
                  <div class="number">{{$index + 1}}</div>
              </div>
              {{ state.name }}
          </a>
      </div>

      <div class="wizard left-arrow row ng-cloak" ng-cloak>
          <a ng-repeat="state in vm.states" ng-click="vm.setCurrent(state)" ng-class="{ 'current': state.isCurrent }" ng-href="{{state.href}}" ng-if="state.isVisible">
              <div class="badge" style="display:none;">
                  @*<div class="border"></div>
              <div class="number">{{$index + 1}}</div>*@
              </div>
              {{ state.name }}
          </a>
      </div>

      <div class="wizard small left-arrow row ng-cloak" ng-cloak>
          <a ng-repeat="state in vm.states" ng-click="vm.setCurrent(state)" ng-class="{ 'current': state.isCurrent }" ng-href="{{state.href}}" ng-if="state.isVisible">
              <div class="badge">
                  <div class="border"></div>
                  <div class="number">{{$index + 1}}</div>
              </div>
              {{ state.name }}
          </a>
      </div>
  </div>

  <div class="form-group form-inline" role="form">
      <div class="form-group">
          <label>Enter number of states</label>
          <input name="stateCount" type="number" class="form-control" ng-model="vm.stateCount" ng-change="vm.stateCountChange()" placeholder="Enter a number" />
      </div>
  </div>
</script>
