<div id="content-container">
  <div class="container" id="myWizard">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <h3><span></span>&nbsp;System Builder</h3>
      </div>
    </div>
    <hr>
    <div class="navbar">
      <div class="navbar>
        <ul class="nav nav-pills nav-wizard">
          <li class="active">
            <a class="hidden-xs" href="#step1" data-toggle="tab" data-step="1">Screening Interview</a>
            <a class="visible-xs" href="#step1" data-toggle="tab" data-step="1">1.</a>
            <div class="nav-arrow"></div>
          </li>
          <li class="inactive">
            <div class="nav-wedge"></div>
            <a class="hidden-xs" href="#step2" data-toggle="tab" data-step="2">Technical Interview
            </a>
            <a class="visible-xs" href="#step2" data-toggle="tab" data-step="2"></a>
            <div class="nav-arrow"></div>
          </li>
          <li class="inactive">
            <div class="nav-wedge"></div>
            <a class="hidden-xs" href="#step3" data-toggle="tab" data-step="3">Pair-Programming Interview</a>
            <a class="visible-xs" href="#step3" data-toggle="tab" data-step="3"></a>
            <div class="nav-arrow"></div>
          </li>
          <li class="inactive">
            <div class="nav-wedge"></div>
            <a class="hidden-xs" href="#step4" data-toggle="tab" data-step="4">CEO Interview</a>
            <a class="visible-xs" href="#step4" data-toggle="tab" data-step="4"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="step1">
        <h3>1. Search Customer Information</h3>
      </div>
      <div class="tab-pane fade" id="step2">
        <h3>2. System Type</h3>
        <div class="well">
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="push"></div>
</div>
