.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.dash-banner {
  background-color: $light-orange;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dash-banner button {
  bottom: 24px;
  right: 24px;
}
