
.btn-green {
  color: $white;
  padding: 8px 16px;
  border-radius: 8px;
  background: $green;
  border: 2px solid $green;
  transition: background 0.5s ease;
}

.btn-green:hover {
  background: $white;
  color: $green;
}

.btn-orange {
  color: $white;
  padding: 8px 16px;
  border-radius: 8px;
  background: $orange;
  transition: background 0.2s ease;
  border: 2px solid $orange;
}

.btn-orange:hover {
  background: $white;
  color: $orange;
  border: 2px solid $orange;
}

.btn-outline-red {
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  background: grey;
  transition: background 0.2s ease;
  border: 2px solid white;
}

.btn-outline-red:hover {
  background: white;
  color: grey;
  border: 2px solid grey;
}
