.candidates-list {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 12px;
  border-radius: 8px;
}

.candidates-list-card {
  padding: 1.5em;
  border-radius: 8px;

  h1 {
    color: $green;
  }

  h2 {
    color: $green;
  }
}
