.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  overflow-y:scroll;
  height:360px;
}

#candidate {
  min-width: 240px;
  justify-content: space-between;
  align-items: center;
}
