#content-container,
#candidate-container {
  flex-grow: 1;
  margin-left: 15%;
  background: #f2f0ea;
  min-height: 100vh;
  background-image: url("sinta-background.png");
  background-size: cover;
}
