.stages-main-list {
  background-color: white;
  border: 2px solid $black;
  border-radius: 4px;
  margin-bottom: 1em;
}

.stages-list {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 12px;
}

.stages-list-team {
  background: $white;
  border: 2px solid $light-gray;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 0 8px 0 8px;
}

.stages-list-card {
  background: $white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1.5em;

  h1 {
    color: $green;
  }
}

.stage-card-avatars {
  border-radius: 4px;
}

.stage-cards {
  margin-top: 12px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 25%;
  text-align: center;

  li {
    list-style: none;
  }
}

.stage-card-form {
  padding: 8px;
  margin: 16px 0 16px 0;
  border: 2px solid $gray;
  border-radius: 4px;
}

.stages-existing-card {
  margin-top: 16px;
  border: 2px solid red;
  width: 50%;
  height: 500px;
}
