.stages-list {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  border-radius: 8px;
}

.stage-card-avatars {
  border-radius: 4px;
}

.stage-cards {
  margin-top: 16px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 25%;
  text-align: center;

  li {
    list-style: none;
  }
}

// .stage-add-card {

// }

.stage-card-form {
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid black;
  border-radius: 8px;
}


.stages-existing-card {
  margin-top: 16px;
  border: 2px solid red;
  width: 50%;
  height: 500px;
}
