.stage-container {
  margin-top: 16px;
  display: flex;
  flex: wrap;
  gap: 1rem;
  flex-direction: column;

}

.stage-card-list {
  display: flex;
  flex: wrap;
  gap: 1rem;
  flex-direction: row;
}

.stage-cards {
  margin-top: 16px;
  border: 2px solid black;
  padding: 16px;
  width: 25%;
  align-items: center;

  li {
    list-style: none;
  }
}

.stage-add-card {

}


.stages-existing-card {
  margin-top: 16px;
  border: 2px solid red;
  width: 50%;
  height: 500px;
}
