#stage-title {
  font-family: $headers-font;
  font-weight: 200;
  font-size: 1.3em;
}

#stage-question {
  font-family: $headers-font;
}

#role-title {
  color: $green;
}

.candidate-name-link > a {
  text-decoration: none;
}
