#stage-title {
  font-family: $headers-font;
  font-weight: 200;
  font-size: 1.3em;
}

#stage-question {
  font-family: $headers-font;
}

#role-title {
  color: $green;
}

.candidate-name-link > a {
  text-decoration: none;
  font-family: Konnect;
  font-size: 16px;
}

.number-of-interview {
  background-color: #ff3f3f;
  color: $white;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  margin: 2px;
}

#link-role-no-deco > a {
  text-decoration: none;
  color: darkslategray;
}

#link-role-no-deco > a:hover {
  text-decoration: none;
  color: $orange;
}
